h1 

{
     color: red;

     text-shadow: 2px 2px 4px lightblue;
     
     border-radius: 20px / 10px;
 
     box-shadow: 6px 6px 0px black;
     
     border: 3px solid black ;
 
      background-color:  rgb(255, 253, 253);
 
     font-size: 4em;
 
     text-align: center;

     opacity: 0.3;

    font-family: 'Yesterdaydream';

    width: 25%;
    
    margin-left: 37%;
}

 

body

{ 

   background-image: url("Guts.jpg");

}



 

@font-face {

      font-family:'YesterdayDream';
      src: url('YesterdayDream-Script.otf');

}


p, ul, li

{
   color: red;

   font-size: 18px;
}

html,body
{
   margin: 0;
   height: 100%;
}
 
 
 h2
 {
    color: teal;
 }
  img
  {
   float: right;
   border: 1px solid black;
   box-shadow: 2px 2px 2px black;
  }

  section
  {
      margin-left: 15%;
      display: inline-block;
      vertical-align: top;
      width: 10%;
      margin-right: 2%;
  }

.bardebar
{
   position: absolute;
   float: left;
   vertical-align: top;
   border: 3px solid black;
   height: 800PX;
   width: 147PX;
   top: 0px;
   left: 0px;
   border-radius: 10PX;
   background-color: white;
   box-shadow: 6px 6px 0px black;
   opacity: 0.3 ;

}  

 
